
services:
  db:
    image: postgres:16-alpine
    container_name: autosalon_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: autosalon
    ports:
      - "5433:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: autosalon_backend
    depends_on:
      - db
    ports:
      - "4000:4000"
    env_file:
      - backend/.env.local
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    container_name: autosalon_frontend
    depends_on:
      - backend
    ports:
      - "3000:3000"

    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  db-data:
